*{
	font-family:Georgia, 'Times New Roman', Times, serif;
	margin: 0px;
	padding: 0px;
	color: darkblue;
}

.nav-h{
	color: darkblue;
}
.nav-h:hover{
    background-color: #ffc107;
	border-radius: 10px;
    transition-duration: 0.5s;
}
.nav-h2:hover{
	background-color: #ffc107;
    transition-duration: 0.5s;
}


.logo-name1{
	color: #ffffff;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2rem;
}
.logo-name2{
	color: darkgreen;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2rem;
}

.drop-down-meni{
	padding: 10px;
	background-color: #167e35;
	box-shadow: 0px 2px 10px #167e35;
}

.footer-c{
	background-color: gray;
	text-align: center;
    padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
}
.footer-c>a{
	text-decoration: none;
	color: darkblue;
}

.footer-h3{
	color:darkblue;
}
.footer-ul{
	color: #167e35;
}
.footer-color{
	padding-left: 10px;
	padding-right: 10px;
}
.footer-color>a{
	text-decoration: none;
	color: darkblue;
}
.footer-color:hover{
	background-color: #ffc107;
	border-radius: 10px;
	box-shadow: 0px 2px 10px black;
	transition-duration: 0.5s;
	
}

.main-box-2{
	display: none;
	background-color: #167e35;
}
.main-box-3{
	display: none;
	background-color: #167e35;
}
.main-box-4{
	display: none;
	background-color: #167e35;
}
.main-box-5{
	display: none;
	background-color: #167e35;
}
.main-box-6{
	display: none;
	background-color: #167e35;
}
.main-box-7{
	display: block;
	background-color: #167e35;
}

.card{
	height: fit-content;
	width: 96%;
	padding: 10px;
	margin: 10px;
    border: 2px solid #167e35;
}
.images{
	height: 400px;
	width: 500px;
}
.img-logo{
	height: 100px;
	width: 100px;
	background-position: cover;
}

.scroller-link-1{
	display: none;
}
.scroller-link-2{
	display: none;
}
.scroller-link-3{
	display: none;
}
.scroller-link-4{
	display: none;
}
.scroller-link-5{
	display: none;
}
.scroller-link-6{
	display: none;
}

.scroller-search{
	display: none;
}

 .search-heading-2{
	display: none;
 }
 .search-heading-3{
	display: none;
 }
 .search-heading-4{
	display: none;
 }
 .search-heading-5{
	display: none;
 }
 .search-heading-6{
	display: none;
 }
 .images-teams{
	height: 200px;
	width: 200px;
 }

.searching{
	display: block;
	text-align: center;
	font-size: 2rem;
	color: darkblue;
}

.mini-logo{
	height: 25px;
	width: 35px;
}


/* For Descktop */
@media(min-width: 390px){

     .search-heading{
		padding: 10px;
		padding-left: 30px;
	 }
	.card1{
		display: flex;
		height: fit-content;
		width: 96%;
		padding: 10px;
		margin: 22px;
		margin-bottom: 10px;
		border: 2px solid #167e35;
		border-radius: 10px;
		background-color: #ffc107;
	}
	.card2{
		display: inline-block;
		height: fit-content;
		width: fit-content;
		padding: 10px;
		margin: 10px;
		margin-bottom: 20px;
		border-radius: 10px;
		border: 2px solid white;
		box-shadow: 0px 2px 8px black;
		background-color: #167e35;
	}

	.card2:hover{
		background-color: #ffc107;
		box-shadow: 4px 20px 40px black;
		transition-duration: 0.5s;
	}
	.other-contents{
		display: flex;
		height: fit-content;
		width: 100%;
		background-color: #167e35;
		overflow: auto;
		white-space: nowrap;
	}
	
	.card12{
		height: fit-content;
		width: 96%;
		padding: 40px;
		margin: 22px;
		margin-bottom: 40px;
		border-radius: 10px;
		background-position: center;
		background-size: cover;
	}
	.card-content{
		height: fit-content;
		width: fit-content;
		padding: 10px;
	}
	.card-content2{
		height: fit-content;
		width: fit-content;
		padding: 5px;
		display: flex;
	}
	.card-content2>ul{
		border-radius: 5px;
		border: 1px solid grey;
		margin-left: 3px;
		border-radius: 5px;
		background-color: white;
		border: 1px solid grey;
	}
	.card-content>ul>li{
		list-style-type: none;

	}
	.images{
		height: 400px;
		width: 400px;
		
	}

	/* scroller */
	.scroller-search{
		height: 40px;
		margin: 0;
	}
	.scroller-ul{
		display: inline-block;
		margin: 0;
	}
	.scroller-ul>li{
		display: inline-block;
		color: darkblue;
	}
	.scroller-ul>li:hover{
		background-color: #ffc107;
		border-radius: 10px;
		transition-duration: 0.5s;
	}
    /* scroller */

	/* carousal */
	.carousel-bg{
		background-color: #167e35;
		height: 400px;
		width: fit-content;
	}
	.carouseel-image{
		height: 400px;
		width: 800px;
	}
	.carousel-font1{
		font-size: 3rem;
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		color:#ffc107;
		text-shadow: 2px 2px 2px black;
		position: relative;
		animation: leftAnimation 2s 1 ;
	}
	.carousel-font2{
		font-size: 1.5rem;
        color: lime;
		text-shadow: 0px 2px 2px black;
		position: relative;
		animation: rightAnimation 2s 1 ;
	}
	/* carousel */

	/* footer */
	footer{
		background-color: #167e35;
		padding: 10px;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}

/* For mobile */
@media(max-width: 390px){

	.card1{
		height: fit-content;
		width: 94%;
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		border: 2px solid #167e35;
		background-color: #ffc107;
	}
	.card2{
		display: inline-block;
		height: fit-content;
		width: 94%;
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		border: 2px solid white;
		box-shadow: 0px 2px 8px black;
		background-color: #167e35;
	}

	.card2:hover{
		background-color: #ffc107;
		box-shadow: 4px 20px 40px black;
		transition-duration: 0.5s;
	}
	.other-contents{
		background-color: #167e35;
	}

	.card12{
		height: fit-content;
		width: 94%;
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		background-position: center;
		background-size:0cqmin;
	}
	.card-content{
		height: fit-content;
		width: 100%;
		padding: 10px;
		padding-top: 20px;
		border-radius: 10px;
	}

	.card-content2{
		height: fit-content;
		width: fit-content;
		padding: 5px;
		display: flex;
	}
	.card-content2>ul{
		border-radius: 5px;
		border: 1px solid grey;
		margin-left: 3px;
	}
	.images{
		height: 350px;
		width: 100%;
	}


	/* scroller */
	.scroller-search{
		height: 40px;
		margin: 0;
	}

	.scroller-ul{
		display: inline-block;
		margin: 0;
		overflow: auto;
		white-space: nowrap;
	}
	.scroller-ul>li{
		display: inline-block;
		color: darkblue;
	}
	.scroller-ul>li:hover{
		background-color: #ffc107;
		border-radius: 10px;
		transition-duration: 0.5s;
	}
    /* scroller */

	/* carousel */
	.carouseel-image{
		height: 300px;
	}
	.carousel-font1{
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		color:#ffc107;
		font-size: 2rem;
		text-shadow: 2px 2px 2px black;
		position: relative;
		animation: leftAnimation 2s 1 ;
	}
	.carousel-font2{
        color: lime;
		text-shadow: 2px 2px 2px black;
		position: relative;
		animation: rightAnimation 2s 1 ;
	}
	/* carousel */

	/* footer */
	footer{
		background-color: #167e35;
		padding: 10px;
		text-align: left;
	}
}

@keyframes leftAnimation{
	0%{
		opacity: 0;
		left: -300px;
	}
	100%{
		opacity: 1;
		left: 0px;
	}
}

@keyframes rightAnimation{
	0%{
		opacity: 0;
		right: -300px;
	}
	100%{
		opacity: 1;
		right: 0;
	}
}
